<app-header></app-header>

<div class="container">
    <h1 class="text-center">Welcome To The Cormentis Talent Finder</h1>
    <h2 class="text-center">Cormentis Talent Finder Uses a Comprehensive Portfolio Of Algorithms To Identify And Attract Unique Candidates That Match
        Your Requirements Specifically!</h2>
    <div class="p-2 ml-2 mr-2 search">
        <span>
            <input type="text" class="col-md-10" placeholder="Enter Keywords that describe the skills you are seeking & any appealing attributes of your company"
                id="search">
            <button class="btn btn-success btn-lg justify-content-right col-md-2" type="submit" (click)="search()">Search</button>
        </span>
    </div>
    <div class="p-1">
        <h2 id="heading" class="mt-3">Browse Profiles</h2>
        <div>
            <div class="row">
                <mat-card class="col-sm col-md m-2 border rounded-lg border-info border-right-0 border-bottom-0 border-left-0">
                    <mat-card-title>Jacob Martin</mat-card-title>
                    <mat-card-subtitle>
                        <mat-chip-list aria-label="Skills">
                            <mat-chip>ML</mat-chip>
                            <mat-chip>College Education</mat-chip>
                            <mat-chip>IIT JEE</mat-chip>
                            <mat-chip>IDFC FIRST Bank</mat-chip>
                        </mat-chip-list>
                    </mat-card-subtitle>
                </mat-card>
                <mat-card class="col-sm col-md m-2 border rounded-lg border-info border-right-0 border-bottom-0 border-left-0">
                    <mat-card-title>Jacob Martin</mat-card-title>
                    <mat-card-subtitle>
                        <mat-chip-list aria-label="Skills">
                            <mat-chip>Machine Learning</mat-chip>
                            <mat-chip>College Education</mat-chip>
                            <mat-chip>IIT JEE</mat-chip>
                            <mat-chip>IDFC FIRST Bank</mat-chip>
                        </mat-chip-list>
                    </mat-card-subtitle>
                </mat-card>
                <mat-card class="col-sm col-md m-2 border rounded-lg border-info border-right-0 border-bottom-0 border-left-0">
                    <mat-card-title>Jacob Martin</mat-card-title>
                    <mat-card-subtitle>
                        <mat-chip-list aria-label="Skills">
                            <mat-chip>Machine Learning</mat-chip>
                            <mat-chip>College Education</mat-chip>
                            <mat-chip>IIT JEE</mat-chip>
                            <mat-chip>IDFC FIRST Bank</mat-chip>
                        </mat-chip-list>
                    </mat-card-subtitle>
                </mat-card>
            </div>
            <div class="row">
                <mat-card class="col-sm col-md m-2 border rounded-lg border-info border-right-0 border-bottom-0 border-left-0">
                    <mat-card-title>Jacob Martin</mat-card-title>
                    <mat-card-subtitle>
                        <mat-chip-list aria-label="Skills">
                            <mat-chip>Machine Learning</mat-chip>
                            <mat-chip>College Education</mat-chip>
                            <mat-chip>IIT JEE</mat-chip>
                            <mat-chip>IDFC FIRST Bank</mat-chip>
                        </mat-chip-list>
                    </mat-card-subtitle>
                </mat-card>
                <mat-card class="col-sm col-md m-2 border rounded-lg border-info border-right-0 border-bottom-0 border-left-0">
                    <mat-card-title>Jacob Martin</mat-card-title>
                    <mat-card-subtitle>
                        <mat-chip-list aria-label="Skills">
                            <mat-chip>Machine Learning</mat-chip>
                            <mat-chip>College Education</mat-chip>
                            <mat-chip>IIT JEE</mat-chip>
                            <mat-chip>IDFC FIRST Bank</mat-chip>
                        </mat-chip-list>
                    </mat-card-subtitle>
                </mat-card>
                <mat-card class="col-sm col-md m-2 border rounded-lg border-info border-right-0 border-bottom-0 border-left-0">
                    <mat-card-title>Jacob Martin</mat-card-title>
                    <mat-card-subtitle>
                        <mat-chip-list aria-label="Skills">
                            <mat-chip>Machine Learning</mat-chip>
                            <mat-chip>College Education</mat-chip>
                            <mat-chip>IIT JEE</mat-chip>
                            <mat-chip>IDFC FIRST Bank</mat-chip>
                        </mat-chip-list>
                    </mat-card-subtitle>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <h2>Browse By</h2>
        <div class="row">
            <h4 class="col-sm-3">Skills</h4>
            <mat-chip-list aria-label="Skills" class="col-sm">
                <mat-chip class="chip-border">Machine Learning</mat-chip>
                <mat-chip class="chip-border">College Education</mat-chip>
                <mat-chip class="chip-border">IIT JEE</mat-chip>
                <mat-chip class="chip-border">IDFC FIRST Bank</mat-chip>
            </mat-chip-list>
        </div>
        <div class="row">
            <h4 class="col-sm-3">Skills</h4>
            <mat-chip-list aria-label="Skills" class="col-sm">
                <mat-chip class="chip-border">Machine Learning</mat-chip>
                <mat-chip class="chip-border">Design</mat-chip>
                <mat-chip class="chip-border">AI</mat-chip>
                <mat-chip class="chip-border">Machine Learning</mat-chip>
            </mat-chip-list>
        </div>
    </div>
</div>

<app-footer></app-footer>