
  h1,h3{
      font-weight: bold;
  }
  #heading{
    font-weight: bold;
  }
  #search{
  height: 4rem;
  border: none; 
  }
  mat-chip.mat-standard-chip{
    background-color:aliceblue;
  }
  
  #mc{
    background-color: white;
  }
  .border{
    border-top:0.6rem solid blue !important;
  } 
  .chip-border{
    border-top:0.4rem solid blue !important;
  } 

  