mat-grid-tile {
    background: lightblue;
  }
  h1,h2{
      font-weight: bold;
  }
  mat-card{
    background-color: whitesmoke;
    border-width: thick;
  }
  .search{
    background-color: whitesmoke;
  }
  #search{
  height: 2rem;
  width: 65vw;
  border: none;
  }

  