
    <nav class="navbar navbar-fixed-top navbar-dark">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="assets/cormentislogo.png" style="height:5rem;width:15rem;">
            </a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" >
                    <span>Hi John Smith
                        <img src="assets/userimg.png" style="height:2rem;width:2rem;">
                        </span>
                </a>
            </li>
        </ul>
    </nav>
