input{
    background-color: rgb(240, 236, 236);
    height:6vh;
}

  #signinid {
    text-decoration: underline;
  }

   span.icon {
    background: url('../../assets/googleimg.png') no-repeat;
    object-fit: contain;
    float: left;
    width: 10px;
    height: 20px;
}